.forgot-password-form {
    position: absolute; 
    left: 0;
    right: 0;
    margin: auto;  
    width: 30%;
    margin-top: 50px;
    padding: 20px 20px;
    border-radius: 10px;
    background-color: white;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.forgot-password-tag {
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.forgot-password-icon i {
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}