<div class="dflex justify-content-center">
  <h3> Stock Trading Market </h3>
  <h2> Earn money by just sitting and trading. Trade with us! </h2>
  <h2> Practice your Stock Marketing Strategy Skills Now! </h2>
</div>