<div class="container w-50 p-3 mt-5 border border-2 rounded bg-dark text-light">
    <div class="row d-flex justify-content-center">
        <div class="col text-center">
            <h1 class="display-5 fw-bolder">
                Stock Trading Market
            </h1>
            <p class="fs-5">
                Earn money by just sitting and trading. Trade with us!
                Practice your Stock Marketing Strategy Skills Now!
            </p>
            <div class="d-flex flex-row justify-content-center">
                <%= button_to "Registration", new_user_registration_path, method: :get, class: "btn btn-outline-light"%>
                <%= button_to "Login", new_user_session_path, method: :get, class: "btn btn-outline-light mx-2"%>
            </div>
        </div>
        <div class="col">
            <%= image_tag "financial_plan_design", class: "border-0 img-thumbnail" %>
        </div>
    </div>
</div>