<div class="container w-50 p-3 mt-1 ">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col text-center">
            <%= image_tag "waiting_for_approval", class: "border-0 img-thumbnail" %>
            <h2>
                Please wait for the admin to approve yor account.
            </h2>
        </div>
    </div>
</div>