<div class="container w-50 p-3 mt-5 ">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col text-center">
            <%= image_tag "waiting_for_approval", class: "border-0 img-thumbnail" %>
            <h1 class="display-5 fw-bolder">
                You are Yet to be Approved...
            </h1>
        </div>
    </div>
</div>