.header-app-name {
    color: white;
    font-size: 25px;
}

.nav-link, .navbar-brand {
    color: white;
}

.nav-link:hover {
    color: #ffff;
    background-color: #00ABB3;
    border-radius: 3px;
}

.nav-link:focus {
    background-color: #00ABB3;
}
